
.sidebar {
    height: 100vh;
    width: 20vw;
    font-size: 20px;
    float: left;
    padding-top: 70px;
    background-color: #282c34;
}
ul.sidebar__menu {
    padding-left: 0 !important;
}
.sidebar__menu li {
    list-style-type: none;
}
.sidebar__menu a {
    text-decoration: none;
    color: #ffffff;
    display: block;
    border-bottom: 1px solid #20232a;
    padding: 10px 40px;
}
.sidebar__menu a:hover {
    background-color: #353a44;
    color: #61dafb;
    transition: all 0.2s ease-out;
}
.adminContent {
    background-color: #cdd7e0;
    height: 100vh;
}
.container-for-content {
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    height: 100vh;
    width: 77vw;
}