
.container-table {
    max-width: 69vw;
}
.react-bs-table-bordered {
    overflow-x: hidden;
    margin-right: 40px;
    border-radius: 0 !important;
    border: 3px solid #282c34 !important;
    background: #7f8eb1;
}

.td-admin-files {
    color: #ffffff;
    border: 1px solid #282c34 !important;
}
.table-bordered th{
    border-left: 2px #282c34 !important;
}

.name__all-files {
    margin-right: 40px;
    font-size: 28px;
    color: #282c34;
    text-align: center;
    margin-bottom: 25px;
}
.form-control {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px !important;
    font-style: italic;
    font-size: 16px;
    position: relative;
    max-width: fit-content;
}
