/*------------------media------------------------------*/

@media screen and (max-width: 772px) {
    .container-navbar-admin {
        padding-top: 10px;
        padding-bottom: 10px;
      background: black;
    }
    .menu-icon {
      display: block;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
  
    }
    .fa-times {
      color: #fff;
    }
    .nav-menu-admin {
        display: flex;
      text-align: center;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 91vw;
      position: absolute;
      top: 60px;
      left: -120%;
      opacity: 1;
      transition: all 0.5s ease;
    }
    
    .nav-menu-admin.active {
      background: #20232a;
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
    }
    .nav-menu-admin li {
        display: block;
        border-bottom: 1px solid black;
        padding: 10px 40px;
    }
    .nav-menu-admin li:hover {
        background: #313641;
        color: #61dafb;
        transition: all 0.2s ease-out;
    }
    .ul-item {
      text-align: center;
      width: 100vw;
      display: table;
    }
    ul {
        padding: 0 !important;
    }
  
  }