.drop_area_drag {
    width: inherit;
    height: inherit;
    border: 5px dashed black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.drop_area_default {
    width: inherit;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}

.drop_area_parent {
    padding: 2%;
    width: 100%;
    height: 100%;
}