
.container-navbar {
  background-color: #20232a;
  position: sticky;
}

.nav-menu {
  margin: 0 !important;
  padding-top: 15px;
  padding-bottom: 15px;
  list-style-type: none;
  display: flex;
  justify-content: right;
  width: 100%;
}

/*-----Single links-----*/

.navbar_name {
  font-size: 28px;
  padding-left: 15px;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
}

.nav-menu-login, .nav-menu-sign-up {
  padding-right: 15px !important;
  text-decoration: none;
  text-align: center;
  font-size: 22px;
  padding: 0;
  color: #ffffff;
}
.nav-menu-login:hover, .nav-menu-sign-up:hover, .navbar_name:hover {
  color: #61dafb;
  transition: all 0.2s ease-out;
}

.form__search {
  margin-right: 7px;
  color: #ffffff;
  background-color: #282c34;
}

/*Hidden icon when screen is wide enough*/
.menu-icon {
  display: none;
}
.fa-bars {
  color: #fff;
}

